
.portrait {
  float: right;
  margin: 0 0 $baseline_em $baseline_em;

  img {
    @include border-radius(50%);
    height: auto;
    width: 100%;
  }
}

.philosophy {

  h5 {
    text-transform: none;
    display: inline;
    letter-spacing: 0;
  }

  [class^='col-'], [class*='col-'] {
    margin-bottom: $baseline_em * 2;
  }
}