@font-face {
  font-family: 'GoudyBookletter1911Regular';
  src: url('/fonts/eot/goudybookletter1911-openamp.eot');
  src: url('/fonts/eot/goudybookletter1911-openamp.eot?iefix') format('embedded-opentype'),
       url('/fonts/woff/goudybookletter1911-openamp.woff') format('woff'),
       url('/fonts/ttf/goudybookletter1911-openamp.ttf') format('truetype'),
       url('/fonts/svg/goudybookletter1911-openamp.svg#webfont0ZQvEa4G') format('svg');
  font-weight: normal;
  font-style: normal;
}

.amp {
  font-family: 'GoudyBookletter1911Regular', Baskerville, Palatino, 'Palatino Linotype', Cochin;
  font-weight: normal;
  transform: scale(1.5);
  display: inline-block;
  margin: 0 0.2em;
  letter-spacing: 0;
}