
// Grid Variables
$baseline: 28px;
$baseFontSize: 16px;

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;
}

body {
  background-color: $coolWhite;
  //@include background-image(linear-gradient($lightCyan 0, $coolWhite 400px));
  //background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Karla', 'Alegreya', serif;
  font-size: 100%;
  line-height: rem($baseline);
  font-weight: 400;
  color: $slate;
}

h1, h2, h3, h4, h5, h6 {
  color: $darkSlate;
  font-family: 'Montserrat', 'Proxima Nova', 'Gotham', 'Arial Black', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2em;
  margin-right: -0.2em;
  margin-top: 0;
}

// Type Scale
// scale is 1:2 with an interval of 4
$h1: 36px;    // 18px * 2^(4/4)
$h2: 30.27px; // 18px * 2^(3/4)
$h3: 25.46px; // 18px * 2^(2/4)
$h4: 21.41px; // 18px * 2^(1/4)
$h5: 18px;    // 18px * 2^(0/4)
$h6: 15.14px; // 18px * 2^(-1/4)
$xs: 12.73px; // 18px * 2^(-2/4)

h1 {
  font-size:  rem($h1);
  line-height: rem($baseline * 2); 
  margin-top:  rem($baseline * 4); 
  margin-bottom: rem($baseline * 1.5);

  &:not(.intro-paragraph):after {
    content: ' ';
    display: block;
    width: 100px;
    border-bottom: 10px solid $accent_yellow;
    margin: 0 auto;
    margin-bottom: -10px;
    @include transform(translateX(-0.1em));
  }
}

h2, h3, h4, h5, h6, p, .small, .xsmall {
  line-height: rem($baseline);
  margin-bottom: rem($baseline);
}

h2 {
  font-size: rem($h2);
}

h3 {
  font-size: rem($h3);
}

h4 {
  font-size: rem($h4);
}

h5, p {
  font-size: rem($h5);
}

h6, .small {
  font-size: rem($h6);
}

.x-small {
  font-size: rem($xs);
}

p {
  color: $slate;
  margin-top: 0;

  &:last-of-type {
    margin-bottom: rem($baseline * 4);
  }

  // Drop Caps
  &.intro:first-letter {
    @include background-size(cover);
    @include border-radius(50%);
    float: left; 
    color: $coolWhite; 
    background-color: #4C94FF;
    //background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0aD0iMTBweCIgaGVpZ2h0PSIxMHB4IiB2aWV3Qm94PSIwIDAgMTAgMTAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDEwIDEwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6I0ZGNUQzRjt9Cgkuc3Qxe2ZpbGw6I0ZGODU0Qzt9Cjwvc3R5bGU+CjxyZWN0IGNsYXNzPSJzdDAiIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCIvPgo8cG9seWdvbiBjbGFzcz0ic3QxIiBwb2ludHM9IjAsMTAgMCwwIDEwLDAgIi8+Cjwvc3ZnPgo=);
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMTBweCIgaGVpZ2h0PSIxMHB4IiB2aWV3Qm94PSIwIDAgMTAgMTAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDEwIDEwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4uc3Qwe2ZpbGw6IzRDOTRGRjt9LnN0MXtmaWxsOiM2NkEzRkY7fTwvc3R5bGU+PHJlY3QgY2xhc3M9InN0MCIgd2lkdGg9IjEwIiBoZWlnaHQ9IjEwIi8+PHBvbHlnb24gY2xhc3M9InN0MSIgcG9pbnRzPSIwLDEwIDAsMCAxMCwwICIvPjwvc3ZnPg==);
    background-position: center;
    font-size: rem($baseline);
    line-height: rem($baseline * 3 - 8px);
    padding: 0 28px; 
    margin-right: 14px;
    margin-top: 4px;
    font-family: 'Montserrat', 'Proxima Nova', Gotham, 'Arial Black', sans-serif;
  }
}

// Special underlined footer with gaps for descenders
p a, footer .contact-info a {
  color: $slate;
  text-decoration: none;
  text-shadow: rem(1px) 0 0 $coolWhite, rem(2px) 0 0 $coolWhite, rem(3px) 0 0 $coolWhite, rem(-1px) 0 0 $coolWhite, rem(-2px) 0 0 $coolWhite, rem(-3px) 0 0 $coolWhite, 0 rem(1px) 0 $coolWhite, 0 rem(2px) 0 $coolWhite, 0 rem(-1px) 0 $coolWhite, 0 rem(-2px) 0 $coolWhite; 
  @include background-image(linear-gradient(#4C94FF, #4C94FF));
  background-position: 0 1.05em;
  background-size: 1px 1px;
  background-repeat: repeat-x;

  &:hover {
    color: $link;
  }
}

// Fix for Mozilla not making line height block level
@-moz-document url-prefix() { 
  p.intro:first-letter {
    padding: 16px;
  }
}

a {
  color: $link;

  &:hover {
    color: $link_hover;
  }
}

::selection {
  background: $lightCyan;
}

::-moz-selection {
  background: $lightCyan;
}

a::selection {
  background: $link_hover;
  text-shadow: none;
  color: $coolWhite;
}

a::-moz-selection {
  background: $link_hover;
  text-shadow: none;
  color: $coolWhite;
}

// abbr {
//   text-transform: lowercase;
//   font-family: 'Alegreya SC';
//   letter-spacing: 0.05em;
//   margin-right: -0.05em;
// }

.row .row {
  width: 100%;
}

.text-center {
  text-align: center; 
}

@include at-least($tablet) {

  h1 {
    margin-top:  rem($baseline * 1.5); 
    margin-bottom: rem($baseline * 2.5); 
  }
}

@include at-least($medium-screen) {

  h1 {
    margin-top:  rem($baseline * 3.5); 
    margin-bottom: rem($baseline * 3.5); 
  }
}
