
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;
}

body {
  background-color: $coolWhite;
  @include background-image(linear-gradient($lightCyan 0, $coolWhite 500px));
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  font-family: 'Alegreya', serif;
  font-size: 100%;
  line-height: rem($baseline);
  font-weight: 400;
  color: $darkSlate;
  background-attachment: fixed;
}

header {
  height: rem($baseline * 8);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin-top: 0;
}

// Font Scale
$h1: 34px;
$h2: 28px;
$h3: 20px;
$h4: 18px;
$h5: 16px;
$h6: 14px;
$xs: 12px;

h1 {
  font-size:  rem($h1);
  line-height: rem($baseline * 2); 
  margin-top:  rem($baseline * 3.5); 
  margin-bottom: rem($baseline * 3.5); 

  &:not(.job-title):after {
    content: ' ';
    display: block;
    width: 150px;
    border-bottom: 2px solid $linkOrange;
    margin: 0 auto;
    margin-bottom: -2px;
  }
}

h2, h3, h4, h5, h6, p, .small, .xsmall {
  line-height: rem($baseline);
  margin-bottom: rem($baseline);
}

h2 {
  font-size: rem($h2);
}

h3 {
  font-size: rem($h3);
}

h4, p {
  font-size: rem($h4);
}

h5 {
  font-size: rem($h5);
}

h6, .small {
  font-size: rem($h6);
}

.x-small {
  font-size: rem($xs);
}

p {
  color: $bodyCopyColor;
  margin-top: 0;

  &:last-of-type {
    margin-bottom: rem($baseline * 4);
  }

  // Drop Caps
  &.intro:first-letter {
    @include background-size(cover);
    @include border-radius(50%);
    float: left; 
    color: $coolWhite; 
    background-color: $linkOrange;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0aD0iMTBweCIgaGVpZ2h0PSIxMHB4IiB2aWV3Qm94PSIwIDAgMTAgMTAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDEwIDEwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6I0ZGNUQzRjt9Cgkuc3Qxe2ZpbGw6I0ZGODU0Qzt9Cjwvc3R5bGU+CjxyZWN0IGNsYXNzPSJzdDAiIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCIvPgo8cG9seWdvbiBjbGFzcz0ic3QxIiBwb2ludHM9IjAsMTAgMCwwIDEwLDAgIi8+Cjwvc3ZnPgo=);
    background-position: center;
    font-size: rem($baseline * 2);
    line-height: rem($baseline * 3 - 8px);
    padding: 0 16px; 
    margin-right: 8px;
    margin-top: 4px;
    font-family: 'Montserrat';
  }
}

a {
  color: $linkOrange;

  &:hover {
    color: $linkOrange_hover;
  }
}

.text-center {
  text-align: center; 
}

