// Colors

// $slate: #6b7c85;
// $darkSlate: #232c30;
// $coolWhite: #fafdff;

$slate: #5D6979;
$darkSlate: #3D4958;
$coolWhite: #ffffff;
$lightCyan: #dcf1fa;
//$link-Orange: #ff5d3f;
//$link-Orange_hover: #ff854c;

$accent_yellow: #FFDB70;
$link: #4C94FF;
$link_hover: #66A3FF;

$footerGradient1: #123b4c;
$footerGradient2: #162329;
$bodyCopyColor: #5a6367;
$turquoise: #2cf8ff;

// Fanpics
$fanpicsSlate0: #fafdff;
$fanpicsSlate1: #f5fcff;
$fanpicsSlate2: #dcf1fa;
$fanpicsSlate3: #b5cad4;
$fanpicsSlate4: #768b94;
$fanpicsSlate5: #53666e;
$fanpicsSlate6: #222d33;
$fanpicsSlate7: #1a2226;
$fanpicsCream1: #fffff9;
$fanpicsCream2: #fafaf0;
$fanpicsCream3: #f4f5e0;
$fanpicsAzure1: #49baf2;
$fanpicsAzure2: #2ba0da;
$fanpicsAzure3: #0e82bc;
$fanpicsWatermelon1: #ff8587;
$fanpicsWatermelon2: #f15f61;
$fanpicsWatermelon3: #d93f41;
$fanpicsGreen1: #49e072;
$fanpicsGreen2: #39d46a;
$fanpicsOrange1: #f7863a;
$fanpicsStripePatternBG: #39b1ed;

// Spritzr
$spritzrWhite1: #f5fdff;
$spritzrWhite2: #c9e7f0;
$spritzrLink: #ffc466;
$spritzrGold: #ffc466;
$spritzrLapis1: #2b8eff;
$spritzrLapis2: #2484f2;
$spritzrLapis3: #0a3a6f;
$spritzrCopy: #363e42;
$spritzrHeadlines: #0d0e0f;

// The Wiki Game
$theWikiGameBlue1: #44b3e6;
$theWikiGameBlue2: #2984ce;
$theWikiGameBrown4: #39332b;
$theWikiGameBrown2: #766b5b;
$theWikiGameSand0: #fefff5;
$theWikiGameSand1: #eeefe3;