
footer {
  background-color: $coolWhite;
  border-top: 1px solid #D6DCE4;
  padding-top: rem($baseline * 4);
  padding-bottom: rem($baseline * 4);

  p {
    color: inherit;
  }

  .small {
    @include opacity(0.7);
  }

  p.x-small {
    @include opacity(0.5);
    margin-bottom: rem(4px);
    line-height: rem($baseline - 4px);
  }

  a.x-small {
    @include opacity(0.3);

    &:hover {
      @include opacity(0.4);
    }
  }

  .phone-number {
    margin: 0;
  }

  .mail-address {
    margin: rem($baseline) 0 0 0;
  }
}

body.index footer {
  border-top: none;
}

.footer-logo {
  
  img {
    display: none;
  }
}

.bottom-nav {
  margin-bottom: rem($baseline * 4);

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    h6 {
      margin-top: 0;
      margin-bottom: rem($baseline);
    }

    li:last-of-type h6 {
      margin-bottom: 0;
    }
  }

  a, a:hover {
    color: $darkSlate;
    text-decoration: none;

    &:after {
      @include transition(opacity 300ms ease-in);
      @include opacity(0);
      content: ' ';
      display: block;
      border-bottom: 2px solid $accent_yellow;
      margin: 0 auto;
      margin-bottom: -2px;
    }
  }

  .is-active a:after, a:hover:after {
    @include opacity(1);
  }

  a:active:after {
    border-bottom: 2px solid $accent_yellow;
  }
}

.social-links {
  margin-bottom: rem($baseline);
  height: rem($baseline);

  a {
    margin-right: rem($baseline / 2);
    text-decoration: none;
    height: rem($baseline);
    display: inline-block;

    img {
      height: rem($baseline);
    }
  }
}

.colophon {
  margin-top: rem($baseline * 2);
}

@include at-least($tablet) {

  .bottom-nav {
    margin-bottom: 0;
  }

  .colophon {
    margin-top: 0;
  }

  .footer-logo {
    margin-bottom: rem($baseline * 2);

    img {
      display: block;
      height: rem($baseline * 1.5);
      margin-left: -9px;
    }
  }
}

@include at-least($medium-screen) {

  .social-links {

    a {
      margin-right: rem($baseline / 4);
    }
  }
}

@include at-least($large-screen) {

  .social-links {

    a {
      margin-right: rem($baseline / 2);
    }
  }
}

