
footer {
  background-color: $footerGradient2;
  @include background-image(linear-gradient(to left top, $footerGradient1, $footerGradient2));
  color: $coolWhite;
  padding-top: rem($baseline * 4);
  padding-bottom: rem($baseline * 4);

  p {
    color: inherit;
  }

  .small {
    @include opacity(0.7);
  }

  p.x-small {
    @include opacity(0.5);
    margin-bottom: rem(4px);
    line-height: rem($baseline - 4px);
  }

  a.x-small {
    @include opacity(0.3);
    color: $coolWhite;

    &:hover {
      @include opacity(0.4);
    }
  }

  .phone-number {
    margin: 0;
  }

  .mail-address {
    margin: rem($baseline) 0 0 0;
  }
}

.footer-logo {
  margin-bottom: rem($baseline * 2);

  img {
    display: block;
    height: $baseline * 2;
    margin-left: -12px;
  }
}

.bottom-nav {
  margin-bottom: rem($baseline * 4);

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    h6 {
      margin-top: 0;
      margin-bottom: rem($baseline);
    }

    li:last-of-type h6 {
      margin-bottom: 0;
    }
  }

  a, a:hover {
    color: $coolWhite;
    text-decoration: none;

    &:after {
      @include transition(opacity 300ms ease-in);
      @include opacity(0);
      content: ' ';
      display: block;
      border-bottom: 1px solid $linkOrange;
      margin: 0 auto;
      margin-bottom: -1px;
    }
  }

  .is-active a:after, a:hover:after {
    @include opacity(1);
  }

  a:active:after {
    border-bottom: 1px solid $linkOrange_hover;
  }
}

.social-links {
  margin-bottom: $baseline;
  height: $baseline;

  a {
    margin-right: $baseline / 2;
    text-decoration: none;
    height: $baseline;
    display: inline-block;

    img {
      height: $baseline;
    }
  }
}

.colophon {
  margin-top: rem($baseline * 2);
}

@include at-least($tablet) {

  .bottom-nav {
    margin-bottom: 0;
  }

  .colophon {
    margin-top: 0;
  }
}

@include at-least($medium-screen) {

  .social-links {

    a {
      margin-right: $baseline / 4;
    }
  }
}

@include at-least($large-screen) {

  .social-links {

    a {
      margin-right: $baseline / 2;
    }
  }
}

