
.logo {

  img {
    height: rem($baseline * 2);
    margin: rem($baseline) auto;
    display: block;
    @include transform(translateX(-12px));
  }
}

.top-nav {
  text-align: center;
  margin-bottom: rem($baseline * 2);

  h4 {
    line-height: rem($baseline);
    margin-top: 0;
    margin-bottom: 0;
  }

  a {
    @include transition(color 150ms ease-out, opacity 150ms ease-out, text-shadow 150ms ease-out);
    @include opacity(0.6);
    color: $darkSlate;
    text-decoration: none;
  }

  .is-active a, a:hover {
    @include opacity(1);
    color: $linkOrange;
    text-shadow: 0.5px 1px 0px rgba(255, 255, 255, 1), 1.5px 3px 0px rgba(44, 248, 255, 1);
  }
}

@include at-least($phone-wide) {

  .top-nav {

    h4 {
      display: inline-block;

      &:first-of-type {
        margin-right: rem($baseline);
      }
    }
  }
}

@include at-least($tablet) {

  .top-nav {
    text-align: right;
    margin-bottom: 0;

    h4 {
      line-height: rem($baseline * 2);
      margin-top: rem($baseline * 3);
      margin-bottom: rem($baseline * 3);
    }
  }

  .logo {
    text-align: left;

    img {
      margin-left: -12px;
      margin-top: rem($baseline * 3);
      margin-bottom: rem($baseline * 3);
    }
  }
}
