
.logo {

  img {
    height: rem($baseline * 1.5);
    margin: rem($baseline) auto;
    display: block;
    @include transform(translateX(-9px));
  }
}

.top-nav {
  text-align: center;
  margin-bottom: rem($baseline * 0.5);

  h5 {
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;

    &:first-of-type {
      margin-right: rem($baseline);
    }
  }

  a {
    @include transition(color 150ms ease-out, opacity 150ms ease-out, text-shadow 150ms ease-out);
    @include opacity(0.5);
    color: $darkSlate;
    text-decoration: none;
    line-height: rem($baseline * 2);
    display: block;
    position: relative;
    
    &:after {
      @include transition(all 300ms ease-out);
      @include opacity(0);
      @include transform(translateY(10px));
      content: "";
      display: block;
      border-bottom: 1px solid rgba($linkOrange_hover, 0.4);
      border-top: 1px solid rgba($linkOrange_hover, 1);
      height: 0;
      position: absolute;
      bottom: 0;
      width: 40%;
      margin-left: 30%;
    }  
  }

  .is-active a, a:hover {
    @include opacity(1);

    &:after {
      @include opacity(1);
      height: 2px;
      @include transform(translateY(0));
      width: 80%;
      margin-left: 10%;
    }  
  }
}


@include at-least($phone-wide) {

  

  .top-nav {

    h5 {
      //display: inline-block;

      
    }
  }
}

@include at-least($tablet) {

  .logo {
    text-align: left;

    img {
      height: rem($baseline * 2);
      display: block;
      @include transform(translateX(-12px));
      margin-left: -12px;
      margin-top: rem($baseline * 2.5);
      margin-bottom: rem($baseline * 2.5);
    }
  }

  .top-nav {
    text-align: right;
    margin-bottom: 0;

    h5 {
      margin-top: rem($baseline * 2.5);
      margin-bottom: rem($baseline * 2.5);
    }
  }
}

