@charset "utf-8";

// Vendor
@import 'normalize';
@import 'compass';
@import 'compass/css3';
@import 'flexboxgrid';

// Variables
$baseline: 28px;
$baseFontSize: 16px;

@function rem($px, $base: $baseFontSize) {
  @return ($px / $base) * 1rem;
}

// Colors
$slate: #6b7c85;
$darkSlate: #232c30;
$coolWhite: #fafdff;
$lightCyan: #dcf1fa;
$linkOrange: #ff5d3f;
$linkOrange_hover: #ff854c;
$footerGradient1: #123b4c;
$footerGradient2: #162329;
$bodyCopyColor: #5a6367;

// Fanpics
$fanpicsSlate0: #fafdff;
$fanpicsSlate1: #f5fcff;
$fanpicsSlate2: #dcf1fa;
$fanpicsSlate3: #b5cad4;
$fanpicsSlate4: #768b94;
$fanpicsSlate5: #53666e;
$fanpicsSlate6: #222d33;
$fanpicsSlate7: #1a2226;
$fanpicsCream1: #fffff9;
$fanpicsCream2: #fafaf0;
$fanpicsCream3: #f4f5e0;
$fanpicsAzure1: #49baf2;
$fanpicsAzure2: #2ba0da;
$fanpicsAzure3: #0e82bc;
$fanpicsWatermelon1: #ff8587;
$fanpicsWatermelon2: #f15f61;
$fanpicsWatermelon3: #d93f41;
$fanpicsGreen1: #49e072;
$fanpicsGreen2: #39d46a;
$fanpicsOrange1: #f7863a;

// Spritzr
$spritzrWhite1: #f5fdff;
$spritzrWhite2: #c9e7f0;
$spritzrLink: #ffc466;
$spritzrGold: #ffc466;
$spritzrLapis1: #2b8eff;
$spritzrLapis2: #2484f2;
$spritzrLapis3: #0a3a6f;
$spritzrCopy: #363e42;
$spritzrHeadlines: #0d0e0f;

// The Wiki Game
$theWikiGameBlue1: #44b3e6;
$theWikiGameBlue2: #2984ce;
$theWikiGameBrown4: #39332b;
$theWikiGameBrown2: #766b5b;
$theWikiGameSand0: #fefff5;
$theWikiGameSand1: #eeefe3;


// Global
@import 'mixins';
@import 'base';
@import 'animate-into-view';
@import 'ampersand';
@import 'header';
@import 'footer';

// Views
@import 'views/home';
@import 'views/testimonials';
@import 'views/free-design-resources';
@import 'views/about';
@import 'views/contact';
@import 'views/case-studies';
@import 'views/fanpics';
@import 'views/spritzr';
@import 'views/the-wiki-game';

