@charset "utf-8";

// Vendor
@import 'normalize';
@import 'compass';
@import 'compass/css3';
@import 'flexboxgrid';

// Variables
$baseline: 28px;

// Colors
$slate: #6b7c85;
$darkSlate: #232c30;
$coolWhite: #fafdff;
$lightCyan: #dcf1fa;
$linkOrange: #ff5d3f;
$footerGradient1: #113342;
$footerGradient2: #1a2a30;
$bodyCopyColor: #5a6367;

// Global
@import 'base';
@import 'header';
@import 'footer';

// Views
@import 'testimonials';