
.portrait {
  float: right;
  margin: 0 0 rem($baseline) rem($baseline);

  img {
    @include border-radius(50%);
    height: auto;
    width: 100%;
  }
}

.philosophy {

  h5 {
    text-transform: none;
    display: inline;
    letter-spacing: 0;
  }

  [class^='col-'], [class*='col-'] {
    margin-bottom: rem($baseline * 2);
  }
}