
.case-study {
  
  h1 {
    margin-top:  rem($baseline * 1.5); 
    margin-bottom: rem($baseline * 1.5);
  }

  img, video {
    width: 100%;
    display: block;
  }

  h3 {
    margin-top: rem($baseline * 4);
    text-transform: none;
    letter-spacing: normal;
    margin-right: 0;
  }
}

.caption {
  @extend .small;
  @include opacity(0.7);
  margin-top: rem($baseline * 1);
  margin-bottom: rem($baseline * 4);
}

@include at-least($phone-wide) {

  .case-study {
    h1 {
      margin-top:  rem($baseline * 2.5); 
    }
  }
}

@include at-least($tablet) {

  .case-study {
    h1 {
      margin-top:  rem($baseline * 3.5); 
    }
  }
}