.contact {

	.phone-number {
		margin-bottom: 0;
	}

	.email-address {
		margin-top: 0;
    margin-bottom: rem($baseline * 4);
	}

  p {
    text-align: left;
  }
}

@include at-least($tablet) {

  .contact {

    p {
      text-align: center;
    }
  }
}