
.fanpics-stripe-pattern {
  background-color: $fanpicsAzure3;
  background-image: url('/images/fanpics/fanpics-pattern.svg');
  background-repeat: repeat-y;
  background-size: 100% auto;;

  .caption {
    color: $fanpicsSlate0;
  }
}

.fanpics-case-study h1, .fanpics-case-study.hero h2 {
  color: $fanpicsSlate0;
  text-shadow: 0px 2px 0px rgba($fanpicsAzure3, 0.1);
}

.fanpics-case-study {
  @extend .case-study;
  background-color: $fanpicsSlate0;

  .work-description {
    color: $fanpicsSlate7;
    text-shadow: 0px 1px 0px rgba($fanpicsAzure1, 1);
  }

  h1 {
    margin-bottom: rem($baseline * 1.5);

    &:after {
      border-bottom: 2px solid $fanpicsGreen1;
    }
  }
  
  p {
    color: $fanpicsSlate6;
   
    &.intro:first-letter {
      background-color: $fanpicsSlate7;
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0aD0iMTBweCIgaGVpZ2h0PSIxMHB4IiB2aWV3Qm94PSIwIDAgMTAgMTAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDEwIDEwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6IzBFMzQ1MDt9Cgkuc3Qxe2ZpbGw6IzE0NEI3NDt9Cjwvc3R5bGU+CjxyZWN0IGNsYXNzPSJzdDAiIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCIvPgo8cG9seWdvbiBjbGFzcz0ic3QxIiBwb2ludHM9IjAsMTAgMCwwIDEwLDAgIi8+Cjwvc3ZnPgo=);
    }
  }

  a {
    color: $fanpicsSlate2;

    &:hover {
      color: $fanpicsSlate0;
    }
  }
}

.fanpics-android {

  .row {
    padding-top: rem($baseline * 4);
    background-color: $fanpicsSlate2;
  }
}

.fotg-badge {
  padding-top: rem($baseline * 4);

  img {
    max-width: 443px;
    display: inline-block;
  }
}

.fanpics-prototyping {

  .row {
    background-color: $fanpicsGreen1;
    padding: rem($baseline * 4) 0;
  }
}

.your-games {
  background-color: $fanpicsSlate7;
}

.fanpics-admin {
  background-color: $fanpicsSlate6;
  
  p, .caption {
    color: $fanpicsSlate3;
  }

  h3 {
    color: $fanpicsSlate1;
  }

  .row {
    background-color: $fanpicsSlate7;
    padding-top: rem($baseline * 4);
  }
}

 .brain-icon {
  padding: rem($baseline * 4) 0;

  img {
    max-width: 160px;
    display: inline-block;
  }
 }

@include at-least($medium-screen) {

  .fanpics-logos {
    
    .col-xs-26:nth-child(2), .col-xs-26:nth-child(3), .col-xs-26:nth-child(5) {
      order: 3;
    }
  }
}