
.article-list {

  a {
    text-decoration: none;

    h5 {
      color: $darkSlate;
      text-transform: none;
      letter-spacing: 0;
    }
  }
}

.back-to-free-design-resources {
  margin-top: rem($baseline * 2);
  display: block;
}

article {

  h1 {
    text-transform: none;
    letter-spacing: normal;
    margin-bottom: rem($baseline * 2.5);
    margin-top: rem($baseline * 1.5);
  }

  h6 {
    margin-bottom: rem($baseline * 2);
  }

  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
  
  .download-button {

  }
}