.job-title {
  color: $linkOrange;
  text-shadow: 0.5px 1px 0px rgba(255, 255, 255, 1), 1.5px 3px 0px rgba(44, 248, 255, 1);
  margin-bottom: rem($baseline * 7.5);

  .amp {
    color: $linkOrange_hover;
  }
}

.hero {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;

  h2 {
    line-height: rem($baseline * 2);
    margin-bottom: 0;
    margin-top: rem($baseline * 2);
  }

  .work-description {
    margin-bottom: rem($baseline);
  }

  h4 {
    margin-bottom: rem($baseline * 8);
  }
}

.work-description {
  font-style: italic;
}


@include at-least($phone-wide) {

  .hero {
    background-size: 120% auto;
    background-position: left center;
    text-align: left;

    // h2 {
    //   margin-top: rem($baseline * 2);
    // }

    h4 {
      margin-bottom: rem($baseline * 2);
    }

    .col-xs-22 {     
      flex-basis: 30.76923%;
      max-width: 30.76923%;
    }
  }
}

@include at-least($tablet) {

  .hero {
    background-size: 100% auto;
    background-position: center center;

    h2 {
      margin-top: rem($baseline * 4);
    }

    h4 {
      margin-bottom: rem($baseline * 4);
    }
  }
}

@include at-least($medium-screen) {

  .hero {

    h2 {
      margin-top: rem($baseline * 6);
    }

    h4 {
      margin-bottom: rem($baseline * 6);
    }
  }
}

@include at-least($large-screen) {

  .hero {

    h2 {
      margin-top: rem($baseline * 8);
    }

    h4 {
      margin-bottom: rem($baseline * 8);
    }
  }
}