
.home-projects {
  margin-top: rem($baseline * 3);
}

.cover-photos {
  @include border-radius(40px);
  overflow: hidden;

  img {
    width: 100%;
    display: block;
  }

  & > .square-group {

    &:first-of-type, &:first-of-type img {
      @include border-radius(40px 40px 0 0);
    }

    &:last-of-type, &:last-of-type img {
      @include border-radius(0 0 40px 40px);
    }
  }
}

$azure1: #49baf2;
$azure2: #2ba0da;
$dist-x: 62px;
$dist-y: 60px;
$dist-x-up: 27px;
$dist-x-down: 32px;
$dist-y-up: 38px;
$dist-y-down: 42px;

.svg-gooey-filter {
  display: block;
}

.case-study-title {
  @include transition(all 400ms ease-in); 
  @include transform(scale(1.5));
  position: absolute;
  width: 100%;
  text-align: center;
  color: $darkSlate;
  margin-top: calc(50% - 10px);
  z-index: 100;
  opacity: 0;
  line-height: 20px;

  &.s1x2 {
    margin-top: calc(25% - 10px);
  }
}


.blobs {
  @include filter(url('/images/home/gooey.svg#goo'));
  @include animation(rotate-blobs linear 3s infinite both);
  opacity: 0;
  transition: opacity 1000ms ease;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
}



.blob {
  @include transition(all 400ms ease-in);
  @include transform(scale(0.1));
  position: absolute;
  background-color: #ffffff;
  color: #ffffff;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 40px;
  border-radius: 100%;
  margin-top: -50px;
  margin-left: -50px;

  -webkit-animation-name: expand-left-top-anim;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
  -webkit-animation-direction: alternate;

  &:nth-child(2){
    -webkit-animation-name: expand-right-top-anim;
  }

  &:nth-child(3){
    -webkit-animation-name: expand-left-bottom-anim;
  }

  &:nth-child(4){
    -webkit-animation-name: expand-right-bottom-anim;
  }
}

.blobs2 {
  @include animation(rotate-blobs-two linear 2s infinite both);
  z-index: 90;
}

.square {
  overflow: hidden;
  position: relative;

  img {
    @include transition(all 400ms ease-in);
  }

  &:hover { 

    .case-study-title {
      @include transform(scale(1));
      opacity: 1;
    }

    img {
      opacity: 0.7;
    }
    
    .blobs {
      opacity: 0.8;
    }
  }
}


@keyframes fade-out-blobs {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotate-blobs {
  0% {
    transform: rotate(0deg) scale(1);
  }
  60% {
    transform: rotate(216deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}


@keyframes rotate-blobs-two {
  0% {
    transform: rotate(0deg) scale(1.1);
  }
  60% {
    transform: rotate(216deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1.1);
  }
}


@keyframes expand-right-bottom-anim {
  0% {
    transform: scale(1) translate($dist-x-up/2,$dist-x-up/2);
  }
  100% {
    transform: scale(0.5) translate($dist-x-up,$dist-x-up);
  }
}

@keyframes expand-right-top-anim {
  0% {
    transform: scale(1) translate($dist-y-up/2,-$dist-y-up/2);
  }
  100% {
    transform: scale(0.5) translate($dist-y-up,-$dist-y-up);
  }
}

@keyframes expand-left-top-anim {
  0% {
    transform: scale(1) translate(-$dist-y-down/2,$dist-y-down/2);
  }
  100% {
    transform: scale(0.5) translate(-$dist-y-down,-$dist-y-down);
  }
}

@keyframes expand-left-bottom-anim {
  0% {
    transform: scale(1) translate(-$dist-x-down/2,$dist-x-down/2);
  }
  100% {
    transform: scale(0.5) translate(-$dist-x-down,$dist-x-down);
  }
}





@keyframes blob-right-bottom-anim {
  0% {
    transform: scale(0.1) translate(0,0);
  }
  10%, 100% {
    transform: scale(0.7) translate($dist-x-up,$dist-x-up);
  }
}

@keyframes blob-right-bottom-anim-reverse {
  0% {
    transform: scale(0.7) translate($dist-x-up,$dist-x-up);
  }
  10%, 100% {
    transform: scale(0.1) translate(0,0);
  }
}

@keyframes blob-right-top-anim {
  5% {
    transform: scale(0.1) translate(0,0);
  }
  15%, 100% {
    transform: scale(0.65) translate($dist-y-up,-$dist-y-up);
  }
}

@keyframes blob-right-top-anim-reverse {
  5% {
    transform: scale(0.65) translate($dist-y-up,-$dist-y-up);
  }
  15%, 100% {
    transform: scale(0.1) translate(0,0);
  }
}

@keyframes blob-left-top-anim {
  10% {
    transform: scale(0.1) translate(0,0);
  }
  20%, 100% {
    transform: scale(0.7) translate(-$dist-y-down,-$dist-y-down);
  }
}

@keyframes blob-left-top-anim-reverse {
  10% {
    transform: scale(0.7) translate(-$dist-y-down,-$dist-y-down);
  }
  20%, 100% {
    transform: scale(0.1) translate(0,0);
  }
}

@keyframes blob-left-bottom-anim {
  15% {
    transform: scale(0.1) translate(0,0);
  }
  25%, 100% {
    transform: scale(0.75) translate(-$dist-x-down,$dist-x-down);
  }
}

@keyframes blob-left-bottom-anim-reverse {
  15% {
    transform: scale(0.75) translate(-$dist-x-down,$dist-x-down);
  }
  25%, 100% {
    transform: scale(0.1) translate(0,0);
  }
}

@include at-least($phone-wide) {

}

@include at-least($tablet) {

  .home-projects {
    margin-top: 0;
  }

  .cover-photos {
    @include border-radius(40px);
    overflow: hidden;

    img {
      width: 100%;
      display: block;
    }

    & > .square-group {
      overflow: hidden;
    

      &:first-of-type, &:first-of-type img {
        @include border-radius(40px 0 0 0);
      }

      &:nth-of-type(2), &:nth-of-type(2) img {
        @include border-radius(0 40px 0 0);
      }

      &:nth-of-type(3), &:nth-of-type(3) img {
        @include border-radius(0 0 0 40px);
      }

      &:nth-of-type(4), &:nth-of-type(4) img {
        @include border-radius(0 0 40px 0);
      }
    }
  }

  .square {
    
  }
}

@include at-least($medium-screen) {

}

@include at-least($large-screen) {

}


// .hero {
//   @include transition(all 200ms ease-in);
//   background-size: cover;
//   background-position: center center;
//   background-repeat: no-repeat;
//   text-align: center;

//   h2 {
//     line-height: rem($baseline * 2);
//     margin-bottom: 0;
//     margin-top: rem($baseline * 2);
//   }

//   .work-description {
//     margin-bottom: rem($baseline);
//   }

//   h5 {
//     @include transform(translate3d(0,0,0));
//     text-decoration: underline;
//     margin-bottom: rem($baseline * 8);

//     &:after {
//       @include transition(all 300ms ease-in);
//       @include transform(translateX(10px));
//       content: ' ';
//       width: 16px;
//       height: 14px;
//       display: inline-block;
//     }
//   }

//   &.fanpics-case-study h5:after {
//     background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS44MyAxMy44NCI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNmYWZkZmY7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5mYW5waWNzLWFycm93PC90aXRsZT48cG9seWdvbiBjbGFzcz0iY2xzLTEiIHBvaW50cz0iOC45MSAwIDcuMDMgMS44OCAxMC43NCA1LjU5IDAgNS41OSAwIDguMjUgMTAuNzQgOC4yNSA3LjAzIDExLjk2IDguOTEgMTMuODQgMTUuODMgNi45MiA4LjkxIDAiLz48L3N2Zz4=);
//   }

//   &.spritzr-case-study h5:after {
//     background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS44MyAxMy44NCI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNmZmM0NjY7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5zcHJpdHpyLWFycnB3PC90aXRsZT48cG9seWdvbiBjbGFzcz0iY2xzLTEiIHBvaW50cz0iOC45MSAwIDcuMDMgMS44OCAxMC43NCA1LjU5IDAgNS41OSAwIDguMjUgMTAuNzQgOC4yNSA3LjAzIDExLjk2IDguOTEgMTMuODQgMTUuODMgNi45MiA4LjkxIDAiLz48L3N2Zz4=);
//   }
  
//   &.the-wiki-game-case-study h5:after {
//     background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS44MyAxMy44NCI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiMzOTkwZDg7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT50aGUtd2lraS1nYW1lLWFycm93PC90aXRsZT48cG9seWdvbiBjbGFzcz0iY2xzLTEiIHBvaW50cz0iOC45MSAwIDcuMDMgMS44OCAxMC43NCA1LjU5IDAgNS41OSAwIDguMjUgMTAuNzQgOC4yNSA3LjAzIDExLjk2IDguOTEgMTMuODQgMTUuODMgNi45MiA4LjkxIDAiLz48L3N2Zz4=);
//   } 
// }

// @keyframes bob-right {
//   from {
//     transform: translateX(10px);
//   }
//   to {
//     transform: translateX(20px);
//   }
// }

// @-moz-keyframes bob-right {
//   from {
//     -moz-transform: translateX(10px);
//   }
//   to {
//     -moz-transform: translateX(20px);
//   }
// }

// @-webkit-keyframes bob-right {
//   from {
//     -webkit-transform: translateX(10px);
//   }
//   to {
//     -webkit-transform: translateX(20px);
//   }
// }

// @-o-keyframes bob-right {
//   from {
//     -o-transform: translateX(10px);
//   }
//   to {
//     -o-transform: translateX(20px);
//   }
// }

// .index {
//   overflow-x: hidden;

//   & > a {
//     text-decoration: none;

//     &:hover .hero {
//       @include box-shadow(0 0 50px rgba($darkSlate, 0.4)); 
//       @include transform(scale(1));
//       padding: 2px 0;
//       margin: -2px 0;

//       h5 {
//         @include opacity(1);
//         @include transform(translateX(0));

//         &:after {
//           @include animation(alternate bob-right 0.8s infinite);
//           @include opacity(1);
//           @include transform(translateX(10px));
//         }
//       }
//     }
//   }
// }

// .work-description {
//   font-style: italic;
// }

// @include at-least($phone-wide) {

//   .hero {
//     background-size: 120% auto;
//     background-position: left center;
//     text-align: left;

//     h5 {
//       margin-bottom: rem($baseline * 2);
//     }

//     .col-xs-22 {     
//       flex-basis: 30.76923%;
//       max-width: 30.76923%;
//     }
//   }
// }

// @include at-least($tablet) {

//   .intro-paragraph {
//     margin: rem($baseline * 2) 0 rem($baseline * 5) 0;
//   }

//   .hero {
//     background-size: 100% auto;
//     background-position: center center;

//     h2 {
//       margin-top: rem($baseline * 4);
//     }

//     h5 {
//       margin-bottom: rem($baseline * 4);

//       &:after {
//         @include opacity(0);
//       }
//     }
//   }
// }

// @include at-least($medium-screen) {

//   .hero {

//     h2 {
//       margin-top: rem($baseline * 6);
//     }

//     h5 {
//       @include transition(all 200ms ease-in);
//       @include opacity(0);
//       @include transform(translateX(-10px));
//       margin-bottom: rem($baseline * 6);
//     }
//   }
// }

// @include at-least($large-screen) {

//   .intro-paragraph {
//     margin: rem($baseline * 3) 0 rem($baseline * 6) 0;
//   }

//   .hero {

//     h2 {
//       margin-top: rem($baseline * 8);
//     }

//     h5 {
//       margin-bottom: rem($baseline * 8);
//     }
//   }
// }
