.intro-paragraph {
  line-height: rem($baseline);
  margin: rem($baseline * 2) 0 rem($baseline * 3) 0;

  div:not(.job-title) {
    font-family: Alegreya, georgia, serif;
    text-transform: none;
    letter-spacing: 0;
    font-weight: 400;
    font-size: $h4;
  }

  em.hello, .job-title {
    color: $linkOrange;
  }

  .job-title {
    line-height: rem($baseline * 2);
    text-shadow:  1px 1px 0 rgba($coolWhite, 1), 1px 1px 0 rgba($coolWhite, 1), 0 1.5px 0 rgba($coolWhite, 1), 1.5px 0 0 rgba($coolWhite, 1), 1px 1px 0 rgba($coolWhite, 1),  3px 3px 0 rgba($turquoise, 0.7), 4.5px 4.5px 0 rgba($turquoise, 0.5), 6px 6px 0 rgba($turquoise, 0.4), 8px 8px 0 rgba($turquoise, 0.3), 10px 10px 0 rgba($turquoise, 0.2), 12px 12px 0 rgba($turquoise, 0.1),;
  }
}

.hero {
  @include transition(all 200ms ease-in);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;

  h2 {
    line-height: rem($baseline * 2);
    margin-bottom: 0;
    margin-top: rem($baseline * 2);
  }

  .work-description {
    margin-bottom: rem($baseline);
  }

  h5 {
    @include transform(translate3d(0,0,0));
    text-decoration: underline;
    margin-bottom: rem($baseline * 8);

    &:after {
      @include transition(all 300ms ease-in);
      @include transform(translateX(10px));
      content: ' ';
      width: 16px;
      height: 14px;
      display: inline-block;
    }
  }

  &.fanpics-case-study h5:after {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS44MyAxMy44NCI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNmYWZkZmY7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5mYW5waWNzLWFycm93PC90aXRsZT48cG9seWdvbiBjbGFzcz0iY2xzLTEiIHBvaW50cz0iOC45MSAwIDcuMDMgMS44OCAxMC43NCA1LjU5IDAgNS41OSAwIDguMjUgMTAuNzQgOC4yNSA3LjAzIDExLjk2IDguOTEgMTMuODQgMTUuODMgNi45MiA4LjkxIDAiLz48L3N2Zz4=);
  }

  &.spritzr-case-study h5:after {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS44MyAxMy44NCI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNmZmM0NjY7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5zcHJpdHpyLWFycnB3PC90aXRsZT48cG9seWdvbiBjbGFzcz0iY2xzLTEiIHBvaW50cz0iOC45MSAwIDcuMDMgMS44OCAxMC43NCA1LjU5IDAgNS41OSAwIDguMjUgMTAuNzQgOC4yNSA3LjAzIDExLjk2IDguOTEgMTMuODQgMTUuODMgNi45MiA4LjkxIDAiLz48L3N2Zz4=);
  }
  
  &.the-wiki-game-case-study h5:after {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS44MyAxMy44NCI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiMzOTkwZDg7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT50aGUtd2lraS1nYW1lLWFycm93PC90aXRsZT48cG9seWdvbiBjbGFzcz0iY2xzLTEiIHBvaW50cz0iOC45MSAwIDcuMDMgMS44OCAxMC43NCA1LjU5IDAgNS41OSAwIDguMjUgMTAuNzQgOC4yNSA3LjAzIDExLjk2IDguOTEgMTMuODQgMTUuODMgNi45MiA4LjkxIDAiLz48L3N2Zz4=);
  } 
}

@keyframes bob-right {
  from {
    transform: translateX(10px);
  }
  to {
    transform: translateX(20px);
  }
}

@-moz-keyframes bob-right {
  from {
    -moz-transform: translateX(10px);
  }
  to {
    -moz-transform: translateX(20px);
  }
}

@-webkit-keyframes bob-right {
  from {
    -webkit-transform: translateX(10px);
  }
  to {
    -webkit-transform: translateX(20px);
  }
}

@-o-keyframes bob-right {
  from {
    -o-transform: translateX(10px);
  }
  to {
    -o-transform: translateX(20px);
  }
}

.index {
  overflow-x: hidden;

  & > a {
    text-decoration: none;

    &:hover .hero {
      @include box-shadow(0 0 50px rgba($darkSlate, 0.4)); 
      @include transform(scale(1));
      padding: 2px 0;
      margin: -2px 0;

      h5 {
        @include opacity(1);
        @include transform(translateX(0));

        &:after {
          @include animation(alternate bob-right 0.8s infinite);
          @include opacity(1);
          @include transform(translateX(10px));
        }
      }
    }
  }
}

.work-description {
  font-style: italic;
}

@include at-least($phone-wide) {

  .hero {
    background-size: 120% auto;
    background-position: left center;
    text-align: left;

    h5 {
      margin-bottom: rem($baseline * 2);
    }

    .col-xs-22 {     
      flex-basis: 30.76923%;
      max-width: 30.76923%;
    }
  }
}

@include at-least($tablet) {

  .intro-paragraph {
    margin: rem($baseline * 2) 0 rem($baseline * 5) 0;
  }

  .hero {
    background-size: 100% auto;
    background-position: center center;

    h2 {
      margin-top: rem($baseline * 4);
    }

    h5 {
      margin-bottom: rem($baseline * 4);

      &:after {
        @include opacity(0);
      }
    }
  }
}

@include at-least($medium-screen) {

  .hero {

    h2 {
      margin-top: rem($baseline * 6);
    }

    h5 {
      @include transition(all 200ms ease-in);
      @include opacity(0);
      @include transform(translateX(-10px));
      margin-bottom: rem($baseline * 6);
    }
  }
}

@include at-least($large-screen) {

  .intro-paragraph {
    margin: rem($baseline * 3) 0 rem($baseline * 6) 0;
  }

  .hero {

    h2 {
      margin-top: rem($baseline * 8);
    }

    h5 {
      margin-bottom: rem($baseline * 8);
    }
  }
}
