
.identifier-wrapper.life360 {
  @include background-image(none);
}

.life360-intro {
  background-image: url('/images/life360/curved-gradient.svg');
  background-size: auto 360pt;
  background-repeat: no-repeat;
  background-position: top center;

  .intro {
    margin-top: rem($baseline * 2);
    margin-bottom: 0;
  }
}

.life360-case-study {
  @extend .case-study;

  h1, &.hero h2 {
    color: $spritzrWhite1;
  }

  h1 {

    &:after {
      border-bottom: 2px solid rgba(#ffffff, 0.5);
    }
  }

  h3 {
    color: $spritzrHeadlines;
  }

  .work-description {
    color: rgba(#ffffff, 0.75);
    margin-bottom: rem($baseline * 2);
  }

  a, h5 {
    color: $spritzrLink;
  }

  a:hover {
    color: lighten($spritzrLink, 5%);
  }

  p {
    color: $spritzrCopy;

    &.intro:first-letter {
      color: $spritzrWhite1;
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0aD0iMTBweCIgaGVpZ2h0PSIxMHB4IiB2aWV3Qm94PSIwIDAgMTAgMTAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDEwIDEwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6IzBBM0E2Rjt9Cgkuc3Qxe2ZpbGw6IzBDNDY4NTt9Cjwvc3R5bGU+CjxyZWN0IGNsYXNzPSJzdDAiIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCIvPgo8cG9seWdvbiBjbGFzcz0ic3QxIiBwb2ludHM9IjAsMTAgMCwwIDEwLDAgIi8+Cjwvc3ZnPgo=);
      padding: 0 27px;
    }
  }
}

.life360-visual-design {
  background-color: #FAFBFC;
  padding: rem($baseline * 4) 0 0 0;

  .thunderstorm {
    background-color: #4C94FF;
  }
}

.life360-closing-the-loops {
  background-image: url('/images/life360/closing-the-loop-bg.svg');
  background-position: top center;
  background-size: 400vw auto;
  background-repeat: no-repeat;

  .closing-the-loop-mockup {
    position: relative;
    margin-top: 60vw;

    video {
      position: absolute;
      top: 14.5vw;
      left: 14.2vw;
      width: 63.9vw;
    }
  }

  h6 {
    color: $life360Grape;
    margin-bottom: rem($baseline * 0.5);
    font-weight: 400;
  }

  h3 {
    color: $life360Kale;
    font-size: $h2;
    margin-top: 0;
    margin-bottom: rem($baseline * 0.75);
  }
}

.life360-weather-layer {
  background: #4c94ff;
  @include background(linear-gradient(45deg, #7c4dff 0%, #4c94ff 100%));
  padding: rem($baseline * 4) 0 0 0;

  h3, p {
    color: #fff;
  }

  p {
    margin-bottom: rem($baseline * 2);
  }

  h3 {
    margin-top: rem($baseline * 2);
  }
}

@include at-least($phone-wide) {

  .life360-intro {
    background-size: auto 460pt;
  }
}

@include at-least($tablet) {

  .life360-intro {
    background-size: auto 580pt;
  }

  .life360-closing-the-loops {
    background-size: 220vw auto;
    background-position: -70vw 0;

    .closing-the-loop-mockup {
      margin-top: 45vw;

      video {
        top: 7.8vw;
        left: 7.75vw;
        width: 34.5vw;
      }
    }

    .closing-the-loop-copy {
      margin-top: 65vw;
    }

    h6 {
      color: $darkSlate;
    }

    h3 {
      color: white;
    }

    p {
      color: $life360LightKale;
    }
  }

  .weather-icons {
    margin-top: rem($baseline);
  }
}

@include at-least($medium-screen) {

  .life360-intro {
    background-size: auto 700pt;
  }

  .life360-closing-the-loops {
    height: 130vw;

    .closing-the-loop-mockup {

      video {
        top: 6.1vw;
        left: 6vw;
        width: 26.5vw;
      }
    }
  }
}

@include at-least($large-screen) {

  .life360-intro {
    background-size: auto 820pt;
  }

  .life360-closing-the-loops {
    background-size: 180vw auto;
    background-position: -47vw 0;
    height: 107vw;

    .closing-the-loop-mockup {
      margin-top: 40vw;

      video {
        top: 5vw;
        width: 21.5vw;
        left: 4.5vw;
      }
    }

    .closing-the-loop-copy {
      margin-top: 53vw;
    }
  }

  .weather-icons {
    margin-top: rem($baseline * 2);
  }
}

@include at-least($xlarge-screen) {

  .life360-intro {
    background-size: auto 900pt;
  }

  .life360-weather-layer h3 {
    margin-top: rem($baseline * 3);
  }
}
