
.spritzr-corner-graphic {
  background-color: $spritzrLapis2;
  background-image: url('/images/spritzr/spritzr-corner-graphic.jpg');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}