
.testimonial-reviews {

  p, h5, h6 {
    margin-bottom: 0;
  }

  h5 {
    text-transform: none;
    letter-spacing: 0;
  }
}

.testimonial {
  padding-bottom: rem($baseline * 2);
  padding-right: 8.333%;
}

.testimonial:first-of-type {
  display: none;
  background-color: $linkOrange;
  padding: rem($baseline) rem($baseline * 1.5);
  margin-bottom: rem($baseline * 2);
  position: relative;
  font-family: 'Montserrat', sans-serif;
  z-index: -1;

  p {
    font-size:  rem($h1);
    line-height: rem($baseline * 2); 
    text-transform: none;
    letter-spacing: normal;
    color: $coolWhite;
    margin-top: 0;
    margin-bottom: rem($baseline);
  }
  
  h5 {
    display: none;
  }

  h6 {
    z-index: 1;
  }

  &:after {
    content: "”";
    color: $linkOrange_hover;
    position: absolute;
    right: -18px;
    bottom: rem($baseline * 2);
    font-size: rem(260px);
    line-height: rem($baseline);
    z-index: -1;
  }
}

@include at-least($phone-wide) {

  .testimonial-columns {
    @include column-count(2);
    @include column-gap(0);
    margin-bottom: rem($baseline * 2);
  }

  .testimonial {
    @include break-inside(avoid);
    margin-right: 16.667%;
    padding-right: 0;
  }
}

@include at-least($tablet) {

  .testimonial {

    &:first-of-type {
      display: block;
    }
  }
}

@include at-least($medium-screen) {

  .testimonial-columns {
    @include column-count(3);
    margin-bottom: rem($baseline);
  }

  .testimonial {
    margin-right: 25%;
    padding-bottom: rem($baseline * 3);

    &:first-of-type {
      margin-bottom: rem($baseline * 3);
    }
  }
}

@include at-least($xxlarge-screen) {

  .testimonial-columns {
    @include column-count(4);
    margin-bottom: 0;
  }

  .testimonial {
    margin-right: 33.333%;
    padding-bottom: rem($baseline * 4);

    &:first-of-type {
      margin-bottom: rem($baseline * 4);
    }
  }
}
