
body.the-wiki-game {
  @include background-image(none);
  background-color: $theWikiGameSand0;
}

.the-wiki-game-pattern {
  background-color: $theWikiGameSand1;
  background-image: url('/images/the-wiki-game/the-wiki-game-pattern.jpg');
  background-repeat: repeat;
}

.the-wiki-game-oval-seal {
  background-image: url('/images/the-wiki-game/the-wiki-game-oval-seal.png'), url('/images/the-wiki-game/the-wiki-game-pattern.jpg');
  background-repeat: no-repeat, repeat;
  background-size: 70% auto, auto;
  background-position: top center;
}

.the-wiki-game-case-study h1, .the-wiki-game.hero h2 {
  color: $theWikiGameBrown4;
  text-shadow: 0px 2px 0px rgba($theWikiGameBrown4, 0.1);
}

.the-wiki-game-case-study.hero {
  background-color: $theWikiGameSand1;
  background-image: url('/images/the-wiki-game/the-wiki-game-cover-mobile.jpg');
}

.the-wiki-game-case-study {
  @extend .case-study;
  background-color: $theWikiGameSand0;

  .work-description {
    color: $theWikiGameBrown2;
    text-shadow: 0px 1px 0px rgba($theWikiGameSand1, 1);
  }

  h1 {
    margin-bottom: rem($baseline * 1.5);

    &:after {
      border-bottom: 2px solid $theWikiGameBlue1;
    }
  }
  
  p {
    color: $theWikiGameBrown4;
   
    &.intro:first-letter {
      color: $theWikiGameSand0;
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0aD0iMTBweCIgaGVpZ2h0PSIxMHB4IiB2aWV3Qm94PSIwIDAgMTAgMTAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDEwIDEwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6IzQ1QzRBMjt9Cgkuc3Qxe2ZpbGw6IzQ4Q0ZBOTt9Cjwvc3R5bGU+CjxyZWN0IGNsYXNzPSJzdDAiIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCIvPgo8cG9seWdvbiBjbGFzcz0ic3QxIiBwb2ludHM9IjAsMTAgMCwwIDEwLDAgIi8+Cjwvc3ZnPgo=);
    }
  }

  a {
    color: $theWikiGameBlue2;

    &:hover {
      color: lighten($theWikiGameBlue2, 5%);
    }
  }
}

.the-wiki-game-app-designs {
  padding: rem($baseline * 4) 0;
}

.the-wiki-game-app-icon {
  padding-top: rem($baseline * 4);
  background-color: $theWikiGameSand1;
}

.the-wiki-game-badges {
  @extend .the-wiki-game-pattern;
}

.the-wiki-web-app-designs {

  .row {
    background-color: $theWikiGameSand1;
    padding-top: rem($baseline * 4);
  }
}

.the-wiki-game-hello-xcode {
  @extend .the-wiki-game-pattern;
  padding-bottom: rem($baseline * 4);
}

@include at-least($phone-wide) {
  
  .the-wiki-game-case-study.hero {
    background-image: url('/images/the-wiki-game/the-wiki-game-cover.jpg');
  }
}