---
title: Bird Feathers Illustration - Free PSD download
permalink: /bird-feathers-psd.html
date: April 20, 2013
---

:markdown
  <a href="free-design-resources/downloads/bird-feathers-psd.psd" class="download-button">Download the .PSD file</a>

  The idea for this little illustration popped into my head while I was browsing dribbble, I think also I was influenced by Moonrise Kingdom, which I recently watched and enjoyed. The left feather is supposed to resemble a peacock, the middle more of an eagle and the right feather was a bit more freeform, but I'm  going to call it a parrot. The texture is just a simple watercolor image with some slight adjustments (desaturation, 40% opacity, and screen blending mode) Hope you enjoy!

  <img src="/images/free-design-resources/bird-feathers.jpg" alt="Free PSD download of Bird Feathers Illusration" title="Bird Feathers" width="600">

= partial 'follow-me'