---
title: Free iPad and iPhone 4 wallpapers
permalink: /chapolito-ipad-iphone-4-wallpapers.html
date: April 20, 2011
---

:markdown
  <a href="free-design-resources/downloads/chapolito-wallpaper-pack.zip" class="download-button">Download the .ZIP file</a> or scroll down to view/download the .jpgs

  <img src="/images/free-design-resources/wallpaper-pack1.jpg" alt="Chapolito's iPad and iPhone wallpaper pack" title="wallpaper pack" width="650">

  Free for your mobile enjoyment I've put together four iPad and iPhone 4 wallpapers. I've been busy experimenting, learning new tricks and getting to know photoshop and illustrator a tad more intimately and in the process created these. I took care to make sure my logo will be completely hidden on iPads and partially on iPhones so you can focus on the beautiful designs behind your apps! The iPad wallpapers measure 1024 x 1024px and the iPhone 4 ones are sized for the 960 x 640px retina screens. for every device you can use two of these screens - one for the lock screen and one for the home screen.

  I hope you enjoy these!

  iPad:
  <img src="/images/free-design-resources/Chapolito_ipad.jpg" alt="" title="Chapolito_ipad" width="1024">
  <img src="/images/free-design-resources/CloudCity_ipad.jpg" alt="" title="CloudCity_ipad" width="1024">
  <img src="/images/free-design-resources/LobsterDisco_ipad.jpg" alt="" title="LobsterDisco_ipad" width="1024">
  <img src="/images/free-design-resources/MikiStyle_ipad.jpg" alt="" title="MikiStyle_ipad" width="1024">

  iPhone 4:
  <img src="/images/free-design-resources/Chapolito_iphone4.jpg" alt="" title="Chapolito_iphone4" width="640">
  <img src="/images/free-design-resources/CloudCity_iphone4.jpg" alt="" title="CloudCity_iphone4" width="640">
  <img src="/images/free-design-resources/LobsterDisco_iphone4.jpg" alt="" title="LobsterDisco_iphone4" width="640">
  <img src="/images/free-design-resources/MikiStyle_iphone4.jpg" alt="" title="MikiStyle_iphone4" width="640">
