---
title: Free Fruit Vectors
permalink: /free-fruit-vectors.html
date: July 20, 2012
---

:markdown
  <a href="free-design-resources/downloads/apple-orange-banana-vector.ai" class="download-button">Download the .AI file</a>
  <a href="free-design-resources/downloads/apple-orange-banana-vector.eps" class="download-button">Download the .EPS file</a></p>

  Free Fruit Vectors! Included in this vector file is a colored banana vector, red apple vector and an orange vector. I made these for a concept of a client project that was rejected so I've made them publicly available, hope you can find some use for them :)

  <img src="/images/free-design-resources/apple-orange-banana-vector.jpg" alt="Fruit Vectors" title="Apple, orange and banana vectors" width="600">

= partial 'follow-me'