---
title: Camera Vectors
permalink: /camera-vector.html
---

:markdown
  <a href="/free-design-resources/downloads/camera-vector.ai" class="download-button">Download the .AI file</a>
  <a href="/free-design-resources/downloads/cameras-vector.eps" class="download-button">Download the .EPS file</a>

  These awesome **camera vector** illustrations are free to download. Inside the vector file you will find **camera illustrations** in vector format. These cameras include a slr camera vector, twin lens reflex camera vector and a holga camera vector. In addition to the camera illustrations I’ve include an extra mystery vector illustration that I think you will enjoy. You can view a preview of the camera vectors in the image below:

  <img src="/images/free-design-resources/camera-vector.png" alt="Camera Vector Preview of Camera Illustrations" title="camera-vector-preview" width="650">

  These vector illustrations are offered free, without limitations for use in your personal, commercial and metaphysical works. Please feel free to review and link to these vectors, but you are prohibited from hosting and distributing them yourself. A link back to http://chapolito.com would be appreciated!

  If you enjoy cameras and photography like me then you’ll be sure to find a use for these camera illustrations in your promotional and private work. The slr camera vector and the holga camera vector are based off of my own cameras, but I do not own a TLR camera–at least not yet!
