---
title: Boardshorts Vector
permalink: /boardshorts-vector.html
---

:markdown
  <a href="free-design-resources/downloads/boardshorts.ai" class="download-button">Download the .AI file</a>
  <a href="free-design-resources/downloads/boardshorts.eps" class="download-button">Download the .EPS file</a>

  This free vector is a simple **vector boardshorts** mockup - perfect for applying your pattern or design to a pair of boardshorts and getting a sense of what it will look like once printed and constructed. These trunks are definitely modeled after the shorter cut that has become popular over the last few years. Grab the vector file &amp; start designing some cool boardies! 

  <img src="/images/free-design-resources/boardshorts.png" alt="Boardshorts Vectors Mockup" title="boardshorts vector mockup" width="650">
