---
title: Vector Line Breaks
permalink: /vector-line-breaks.html
---

:markdown
  <a href="/free-design-resources/downloads/line-breaks.ai" class="download-button">Download the .AI file</a>
  <a href="/free-design-resources/downloads/line-breaks.eps" class="download-button">Download the .EPS file</a>

  If you do a lot of designing like me occasionally you need to spice up your borders, dividers and line breaks. zig zags and humps are often used, but I decided to create a little library of ones so next time I need one I can just pull it in from this vector file. if you have any requests for additional divider designs, I'd be happy to update the file.

  <img title="line breaks" src="/images/free-design-resources/line_breaks.jpg" alt="line breaks, dividers, borders" width="393">
