---
title: Heart Stone - Free PSD download
permalink: /heart-stone-psd.html
---

:markdown
  <a href="free-design-resources/downloads/heart-stone.psd" class="download-button">Download the .PSD file</a>

  I'm currently working for an awesome startup in the online dating market, and part of the logo exploration I created this heart stone. Ultimately, The choice was to go with one of the other icons I had designed, but I really liked this as a stand along icon and it had a warm reception on [my dribbble](http://dribbble.com/chapolito) (my most liked shot) so I thought it would be a good PSD to share. The actual heart stone is a vector smart object, so yo can tweak it to your heart's content. Hope you enjoy!

  <img src="/images/free-design-resources/heart-stone.jpg" alt="Free PSD download of a Heart Stone" title="Heart Stone" width="400">

= partial 'follow-me'